<%= link_to(blog_path(blog.id), class: "col-md-3 blog") do %>
  <% if blog.tag.present? %>
    <% blog.tag.split(", ").each do |tag| %>
      <span class='tag'><%= tag %></span>
    <% end %>
  <% end %>
  <div class="date"><%= blog.updated_at.strftime("%Y年%m月%d日") %></div>

  <% blog_title = blog.title || "no title" %>
  <div class="title"><%= blog.title %></div>

  <p class="content">
    <% if blog.content.present? %>
      <%= strip_tags(blog.content.truncate(50)) %>
    <% end %>
</p>
<% end %>
