<div class='wrapper' style="max-width: 700px; margin: auto">
  <h2>New Information</h2>
<%= form_for(@new_info, url: informations_path) do |i| %>
  <%= i.label :information %>
  <%= i.text_field :information, class: 'form-control' %>
  <%= i.label :close %>
  <%= i.check_box :close %>
  <%= i.submit %>
<% end %>

<h2>Modify Information</h2>
<% @infos.each do |info| %>
  <%= form_for(info) do |i| %>
    <%= i.label :information %>
    <%= i.text_field :information, class: 'form-control' %>
    <%= i.label :close %>
    <%= i.check_box :close %>
    <%= i.submit %>
  <% end %>
<% end %>
</div>
