<!DOCTYPE html>
<html>
  <head><%= render 'layouts/head' %></head>
  <body class=<%= @static %>>
    <header> <%= render 'layouts/header' %></header>
      <div class='alert-success'><%= notice %></div>
      <div class='alert-warning'><%= alert %></div>

      <%= yield %>

    <footer> <%= render 'layouts/footer' %></footer>
  </body>
</html>
